.modal-container {
  width: 60%;
  background-color: #fff;
  color: black;
  height: 70%;
  padding: 20px;
  overflow-y: auto;
}
.poster-container {
  display: flex;
  justify-content: center;
}
.modal-header .modal-footer {
  padding: 10px;
}
.modal-title {
  margin: 0;
}
.modal-body {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.modal-container header {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  place-items: center;
  place-content: center;
  text-align: left;
}
.modal-genre-info {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.modal-container img {
  width: 30%;
  height: 60%;
  margin: 10px 0;
}
.modal-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  text-align: left;
}

h3 {
  font-size: medium;
}
@media (max-width: 728px) {
  .modal-container {
    width: 100%;
    overflow-y: auto;
  }
  .modal-container header {
    display: flex;
    flex-direction: column;
  }
}
